# Python bytecode
__pycache__/
*.pyc

# Virtualenv
venv/
env/
.venv/

# Local env and secrets
.env
.env.*

# Migrations cache
migrations/__pycache__/

# GCloud credentials
*.json

# OS
.DS_Store
Thumbs.db
